@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:var(--single-line-body-base-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  width: 120%; /* Expand the content area to simulate 80% zoom (1 / 0.8 = 1.25) */
  height: 120%; /* Expand the height proportionally */
  transform-origin: top left; /* Ensure scaling starts from the top-left corner */
  transform: scale(0.89); /* Scale down to 80% */
  margin: 0; /* Remove default margins */
  overflow: hidden; /* Prevent scrollbars from appearing */
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
