<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    
    <!--
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
    -->
  </head>
  <body>
    <div class="form-container">
      <form action="/submit" method="POST">
        <div class="imac">
          <div class="div">
            <div class="overlap">
              <img
                class="vector"
                src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/vector-6.png"
              />
              <img
                class="img"
                src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/vector-7.png"
              />
              <img
                class="vector-2"
                src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/vector-8.png"
              />
            </div>
            <div class="overlap-group">
              <div class="input-field">
                <div class="input-field-2">
                  <input type="text" class="input" id = "query" name = "query" placeholder="Enter Keywords Here" />
                </div>
              </div>
              <img
                class="group"
                src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/group-1.png"
              />
            </div>
            <img
              class="LEAR"
              src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/lear.png"
            />
            <img
              class="curated-likeable"
              src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/curated--likeable--enjoyable--awesome-recommendations.png"
            />
            <!--
            <div class="train-wrapper">
              <button class="train-button">
                <img
                  class="train"
                  src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/train-.png"
                />
              </button>
            </div>
            ..--> 
            <div class="train-wrapper">
              <input type="submit" class="train-button"  value="Train!" />
            </div>

            <div class="advanced-options-wrapper">
              <input type="submit-options" class="advanced-options-button"  value="Advanced Options" />
            </div>
            
            <div class="cute-cats-wrapper">
              <img
                class="cute-cats"
                src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/cute-cats.png"
              />
            </div>
            <div class="algorithms-wrapper">
              <img
                class="algorithms"
                src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/algorithms.png"
              />
            </div>
            <div class="non-linear-control-wrapper">
              <img
                class="non-linear-control"
                src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/non-linear-control-theory.png"
              />
            </div>
            <div class="overlap-group-2">
              <img
                class="contact-us"
                src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/contact-us.png"
              />
              <img
                class="check-my-feed"
                src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/check-my-feed.png"
              />
              <img
                class="vector-3"
                src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/vector.png"
              />
            </div>
            <img
              class="vector-4"
              src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/vector-5.png"
            />
            <img
              class="image"
              src="https://cdn.animaapp.com/projects/6789da3508dbe99a5a6be171/releases/6789e0edee41831dbf49a350/img/image-1.png"
            />
            <textarea class="popup-textbox" readonly>You can enter multiple keywords separated by comma. After training, your youtube account will recommend videos related to these keywords.</textarea>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
